<div class="hero" id="paradiv">
    <nav class="navbar">
        <div id="part1">
            
            <div class="navbar-content">
                
                <hr>
                <nav id="navbar">
                    <div class="navbar-container">
                        
                        <a routerLink="/projectmanager/projectslist">ViewProjects</a>
                        <a routerLink="/projectmanager/task">AddTeammemebrs</a>
                        <a routerLink="/projectmanager/tasklist">ViewProjectTask</a>
                        <a routerLink="/admin/alogin">signout</a><div class="hero-image">
                <img src="https://i.pinimg.com/736x/cd/8c/65/cd8c65c7813855d5f58cf91801b1d256.jpg" alt="" height="50px" width="45px">
            </div>
                    </div>
                </nav>
            </div>
        </div>
    </nav>

    <div id="part2">
        <div id="cont2">
           Welcome to  Projemanager home page
        </div>
    </div>
</div>
