
<app-admin-navbar></app-admin-navbar>

  <div id="containers" *ngIf="showContainer==true">
    <div id="conter1" >
        <div class="profile-card">
            <img src="https://www.pikpng.com/pngl/b/226-2263295_clipart-black-and-white-download-project-manager-icon.png" alt="logo" height="150px" width="150px" id="img">
            <br>
            <button class="button-30"><a routerLink="/admin/paccount">ProjectManager</a></button>
        </div>
    </div>
    <div id="conter2">
        <div class="profile-card">
            <img src="https://as1.ftcdn.net/v2/jpg/03/91/37/12/1000_F_391371227_OOPKuywmf6dqwOTsw4Dfu0iDejLKyZZC.jpg" alt="logo" height="150px" width="150px" id="img">
            <br>
            <button class="button-30"><a routerLink="/admin/tmember">Team Member</a></button>
        </div>
    </div>
</div>




<!-- <div class="profile-container">
    <div class="profile-card">
        <h1>Project Manager </h1>
        <img src="https://www.pikpng.com/pngl/b/226-2263295_clipart-black-and-white-download-project-manager-icon.png" alt="logo" height="100px" width="100px" id="img">
        <br>
        <button class="button-30"><a routerLink="/admin/paccount">ProjectManager</a></button>
    </div>

    <div class="profile-card">
        <h1>Team Member </h1>
        <img src="https://as1.ftcdn.net/v2/jpg/03/91/37/12/1000_F_391371227_OOPKuywmf6dqwOTsw4Dfu0iDejLKyZZC.jpg" alt="logo" height="100px" width="100px" id="img">
        <br>
        <button class="button-30"><a routerLink="/admin/tmember">TeamLeader</a></button>
    </div>
</div> -->





    
    <!-- <app-account *ngIf="showForm ==true"></app-account> -->