#containers{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 50px;
    height: 50vh;
}

#img{
    border-radius: 80px;
    position: relative;
  }

.but{
    border: white;
    position: relative;
    top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 30px;
}

.but:hover{
    border: white;
    background-color: #fff;
    position: relative;
    top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 30px;
}

#conter2{
  margin:0Px;
  position: relative;
  top: 70px;
  left: 100px;
  border-radius: 30px;
  background: white
}
#conter1{
position: relative;
top: 70px;
left: 60px;
border-radius: 30px;
background:white;
}


.same{
    height: 40px;
    line-height: 40px;
    font-size: larger;
  }
  
  .same:hover{
    background-color: #fff;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    position: relative;
    font-size: large;
  }
  
  

  #part1{
    border-radius: 30px;
    text-align: center;
    background: rgba(87, 87, 87, 0.5);
  }
  
  #part2{
    margin-left: 10px;
    border-radius: 30px;
    text-align: center;
    background: rgba(87, 87, 87, 0.5);
  }
  
  #paradiv
  {
    height: 97vh;
    display: grid;
    grid-template-columns: 20% 80%;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  
 

  

  /* CSS */
  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  /* CSS */
.button-link {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: rgb(148, 148, 148); /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.button-link:hover {
  background-color: #45a049; /* Darker Green */
}

/* .main-container{
  background-color: #2c352c;
  height: 100vh;
} */

.profile-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  margin: 20px;
  
}