<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/teammember/teammembertasks">View Task</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/alogin">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Team Member Profile</title>
<link rel="stylesheet" href="thome.component.css">
</head>
<body>

<main>
    <section class="profile">
        <h1>Team Member Profile</h1>
        <div class="profile-info">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=800" alt="Profile Image">
            
        </div>
    </section>
    
</main>

<footer>
    <p>&copy; 2024 Company Name. All rights reserved.</p>
</footer>
</body>
</html>