/* Default nav item color */
.nav-link {
  color: white !important;
}

/* Highlight the active nav item */
.nav-item.active .nav-link {
  color: #22aa4d !important;
}
.navbar-nav{
  font-size: 15px;
  font-weight: bold;
}

/* teammember.component.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header app-navbar {
  display: inline-block;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  text-align: center;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.details {
  max-width: 400px;
  text-align: left;
}

.details h2 {
  margin: 10px 0;
}

.details p {
  margin: 5px 0;
}

.bio, .projects {
  margin-top: 20px;
}

.bio h2, .projects h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.projects ul {
  list-style-type: none;
  padding: 0;
}

.projects li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}